Projet Long ENSEEIHT - GEA Department - 2017 - projetlong.aip@gmail.com

## Fichier de configuration de la simulation

## Ce fichier permet de configurer les produits qui vont être fabriqués par la cellule 
## Il doit respecter un syntaxe précise, il doit donc être manipulé avec précaution et ces commentaires sont à lire avec attention !

## Après le mot clé St**t :

## La première ligne doit respecter la syntaxe suivante:
##
## maxShuttleNumber : 6
##
## Cette ligne permet un limitation du nombre de shuttle quand le mode auto est enclenché. il est conseillé de ne pas dépasser 6 navettes
## RQ : Si le nombre est dépassé en mode manuel, le mode auto raménera le nombre de navette a la limite indiqué lorsqu'on l'enclenchera

## La deuxième ligne doit respecter la syntaxe suivante:
##
## delta : 2 5 3
## 
## Cette ligne permet de configurer les temps de lancement entre les produits, dans l'exemple au dessus si on a trois produit A B C, le temps de lancement entre A et B sera 2s, entre B et C 5s et entre C et A 3s.
## Il faut donc être faire attention, le nombre de temps d'attentes doit correspondre au nombre de produits configurés ci-après.

## Les lignes suivantes permettent la configuration des produits :
## Chaque produit se voit attribuée un nom entre A et F. L'ordre dans lequel vous renseignez les produits correspont à l'ordre de lancement.
## Pour l'instant il n'est pas possible de lancer des lots de produits c'est à dire excecuter des séquences A-A-B-B-C-C en mode automatique.
## La ligne produit respectent la syntaxe suivante:
##
## Produit : d1 d2 d3 d4 : t1 t2 t3 t4 
## 
## 'd' et 't' sont des entiers
## Les 'd' correspondent aux destinations successives du produit cad les taches à effectuer ( dans l'ordre biensur) , on peut en spécifier entre 1 et 9. ex si on met 1 2, cela indique que le produit doit être traite au poste 1 puis au poste 2 avant de sortir de la cellule.
## Les 't' correspondent aux temps des taches en secondes. Il doit y en avoir autant que de 'd'. ex 1 : 1 indiue que la tache 1 dure 1 secondes. 
## ATTENTION aux limitation suivantes : 
## MAX 6 PRODUITS AVEC 9 DESTINATIONS CHACUN ET DONC 6 DELTA A LA SECONDE LIGNE ! ! ! ! ! ##
##
## exemples de ligne produit :
## A : 1 2 3 4 : 11 12 13 15 
## B : 4 3 1 : 15 17 18  
## C : 3 : 10
## D : 2 1  : 15 14  
## E : 4 2 1 3 : 5 3 10 13 
## F : 4 2 1 3 : 15 14 12 13 
## Il est possible de lancer une navette vide de manière automatique à l'aide de la ligne suivante :
## @ : 0 : 0 

## REMARQUE : 
## Chaque lettre crée un produit d'une couleur differente
## A : rouge, B : bleu, C : vert, D : orange, E : rose, F : violet

## DERNIER RAPPEL : RENSEIGNER LES PRODUITS DANS L'ORDRE DE LANCEMENT SOUHAITE ! ##


Start
maxShuttleNumber : 1
delta : 2 2 2
A : 1 2 3 4 : 1 1 1 1 
B : 1 3 4 2 : 1 1 1 1
E : 1 4 : 1 1
